:root{
    --bg-color: #fff;
    --typewriterSpeed: 5s;
    --typewriterSpeedMovilFast:1.8s;
    --typewriterSpeedMovilSlow:1.2s;
    --typewriterSpeedFast: 1.2s;
    --typewriterInitialDelay:1s;
    --typewriterTitleCharacters: 34;
    --fadeInUpTextDelay: calc(var(--typewriterSpeed) + var(--typewriterInitialDelay));
    --fadeInUpMovilTextDelay: calc( var(--typewriterSpeedMovilFast) + var(--typewriterSpeedMovilSlow) + var(--typewriterSpeedFast));

} 
h1{
    font-family: 'Varela', sans-serif;
    position: relative;
    font-weight: bolder;
    
    
}

h1::before,
h1::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



#greeting::before{
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeedFast)  forwards;
}

#greeting::after{
    width: .125em;
    background-color: #fff;
    animation: 
        typewriter var(--typewriterSpeedFast)  forwards,
        blink 400ms  1 alternate;

}




#titleMovil::before{
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeedMovilFast)  var(--typewriterSpeedFast) forwards;
}

#titleMovil::after{
    width: .125em;
    background-color: #fff;
    animation: 
        typewriter var(--typewriterSpeedMovilFast)  var(--typewriterSpeedFast)  forwards,
        blink 400ms   calc(var(--typewriterInitialDelay) + var(--typewriterSpeedFast))  1 alternate;

}



#titleMovil2::before{
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeedMovilSlow)  calc(var(--typewriterSpeedFast) + var(--typewriterSpeedMovilFast)) forwards;
}

#titleMovil2::after{
    width: .125em;
    background-color: #fff;
    animation: 
        typewriter var(--typewriterSpeedMovilSlow)  calc(var(--typewriterSpeedFast) + var(--typewriterSpeedMovilFast)) forwards,
        blink 900ms   calc( var(--typewriterInitialDelay) + var(--typewriterSpeedFast)  + var(--typewriterSpeedMovilFast) )  infinite;

}



#title::before{
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterTitleCharacters)) var(--typewriterInitialDelay) forwards;
}

#title::after{
    width: .125em;
    background-color: #000;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterTitleCharacters)) var(--typewriterInitialDelay) forwards,
        blink 800ms steps(var(--typewriterTitleCharacters))  var(--typewriterInitialDelay) infinite;

}

#downBtnMovil{
    transform: translateY(3rem);
    opacity: 0;
    animation: fadeInUp 2s ease calc(var(--fadeInUpMovilTextDelay) + 0.5s) forwards; 
}

#downBtn{
    transform: translateY(3rem);
    opacity: 0;
    animation: fadeInUp 2s ease calc(var(--fadeInUpTextDelay) + 0.5s) forwards; 
}





















@keyframes typewriter {
    to{
        left:100%;
    }
    
}

@keyframes blink {
    to{
        background-color: rgba(255, 255, 255, 0.9);
    }
}
.subtitle{
    font-family:  "Source Code Pro", monospace;
    margin-top: 10px;
    transform: translateY(3rem);
    opacity: 0;
    animation: fadeInUp 2s ease var(--fadeInUpTextDelay) forwards; 
    
}

.subtitleMovil{
    font-family:  "Source Code Pro", monospace;
    margin-top: 10px;
    transform: translateY(3rem);
    opacity: 0;

    animation: fadeInUp 2s ease var(--fadeInUpMovilTextDelay) forwards; 
    
}

@keyframes fadeInUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}